@import url("http://fonts.cdnfonts.com/css/cascadia-code");

.cascadia {
  background-color: #0f0;
  color: #f00;
  font-family: "Cascadia Code", sans-serif;
  font-size: 4rem;
  height: 100vh;
  width: 100vw;
}
