<div class="cascadia" (click)="singleClick()">
  <ng-container
    *rxLet="
      device$;
      rxSuspense: isStandalone ? clickToConnect : clickToStandalone
    "
  >
    <ng-container *rxLet="heartRate$ as hr; rxSuspense: connecting">
      HR: {{ hr.heartRate }} BPM <br />
      {{ hr.contactDetected ? "Wearing" : "Not wearing" }}
      <ng-container *rxLet="heartRateLocation$ as location">
        on {{ location }}
      </ng-container>
      <br />
      <ng-container *ngIf="hr.energyExpended as energy">
        energy expended: {{ energy }} <br />
      </ng-container>
      <ng-container *ngIf="hr.rrIntervals">
        <ng-container *rxLet="hrv$ as hrv"> HRV: {{ hrv }} </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
  <ng-template #clickToConnect>Click to connect</ng-template>
  <ng-template #clickToStandalone>Click to launch standalone app</ng-template>
  <ng-template #connecting>Connecting…</ng-template>
  <ng-template #dash>—</ng-template>
</div>
